<div class="nav-container w-[32px] border border-white h-[80vh] pl-1 py-1">

  <div class="link-items w-full h-3/4   ">
    <div class="h-1/3 w-full flex justify-center items-center border border-green-500"> <a href="#" class=" rotate-[-90deg] inline-block  text-white"> About </a></div>
    <div class="h-1/3 w-full flex justify-center items-center  border border-green-500 "> <a href="#" class=" rotate-[-90deg] inline-block border border-green-500 text-white text-center"> Projects</a></div>
    <div class="h-1/3 w-full flex justify-center items-center border border-green-500 "> <a href="#" class=" rotate-[-90deg] inline-block border border-green-500 text-white text-center"> Contact </a></div>


  </div>

</div>