<div class="w-full min-h-[120vh] lg:min-h-[50rem]  bg-blue-500 justify-center flex relative z-[0]">

    <video src="../../../assets/banner-bg.mp4" [muted]="1" [loop]="1" [autoplay]="1"   class="w-full h-full absolute object-cover z-[1]"></video>
    <div class="w-full h-full absolute bg-black z-[2] opacity-[40%]" >

    </div>

    <div class="text-center w-[75%] md:my-[-28px] my-7 z-[5] text-white flex flex-col items-center justify-center gap-6">

       
        <div class="md:text-[4rem] text-[2.7rem]  font-black flex justify-center items-center gap-4 title"><h1>MATIAS GONZALEZ</h1> </div>
        

        <div class="bg-white w-full h-[1px] opacity-[40%]">

        </div>

        <div>
            <h3 class="md:text-xl font-semibold mon">Desarrollador Full Stack e Ingeniero en Sistemas de Información en proceso.</h3>
        </div>
       

        <div class="w-[300px] h-[200px] bg-white opacity-[0.1] rounded-full">

        </div>

        <div class="socials flex gap-6 items-center ">



            <a href="mailto:dev.matiasgonzalez@gmail.com" target="_blank"><i class="fa-sharp hover:text-purple-600 fa-regular fa-envelope text-[1.5rem]"></i></a>

            <a href="https://twitter.com/Matt__Gz" target="_blank"><i class="fa-brands fa-twitter text-[1.5rem]"></i></a>

            <a href="https://www.linkedin.com/in/matias--gonzalez" target="_blank"><i class="fa-brands fa-linkedin-in  text-[1.5rem]"></i></a>
            
            
            

        </div>

        <a href="#projects">

            <i class="fa-solid fa-arrow-down-long fa-bounce text-3xl mt-6"></i>
            

        </a>



    </div>


</div>
