<div class="w-full h-[100vh] bg-blue-500 justify-center flex relative">

    <video src="../../../assets/banner-bg.mp4" [muted]="1" [loop]="1" [autoplay]="1"   class="w-full h-full absolute object-cover z-[1]"></video>
    <div class="w-full h-full absolute bg-black z-[2] opacity-[40%]" >

    </div>

    <div class="text-center w-[75%] z-[5] text-white flex flex-col items-center justify-center gap-6">

       
        <div class="text-[4rem] font-black flex justify-center items-center gap-4 title"><h1>MATIAS GONZALEZ</h1> </div>
        

        <div class="bg-white w-full h-[1px] opacity-[40%]">

        </div>

        <div>
            <h3 class="text-xl font-semibold mon">Desarrollador Full Stack e Ingeniero en Sistemas de Información en proceso.</h3>
        </div>
       

        <div class="flex w-full justify-center gap-1 mon">

            <app-counter [finalNumber]="1" [description]="'Años de exp'"> </app-counter>
            <app-counter [finalNumber]="20" [description]="'Tecnologias aprendidas'"> </app-counter>
            <app-counter [finalNumber]="5" [description]="'Clientes satisfechos'"> </app-counter>
            <app-counter [finalNumber]="30" [description]="'Proyectos completados   '"> </app-counter>

        </div>

        <div class="socials flex gap-6 items-center ">



            <a href="mailto:dev.matiasgonzalez@gmail.com" target="_blank"><i class="fa-sharp fa-regular fa-envelope text-[1.5rem]"></i></a>

            <a href="https://twitter.com/Matt__Gz" target="_blank"><i class="fa-brands fa-twitter text-[1.5rem]"></i></a>

            <a href="https://www.linkedin.com/in/matias--gonzalez" target="_blank"><i class="fa-brands fa-linkedin-in  text-[1.5rem]"></i></a>
            
            
            

        </div>

        <a href="#">

            <i class="fa-solid fa-arrow-down-long fa-bounce text-3xl mt-6"></i>
            

        </a>



    </div>


</div>
