<div>
    <app-banner> </app-banner>

    <div class="h-[5rem] w-full  flex items-center justify-center bg-rose-500 mt-2" id="projects">
        <h2 class="mon font-bold text-white text-3xl " >My projects</h2>
    </div> 

    <div class="my-2">
        <app-project-container> </app-project-container>
    </div>

    <div class="h-[5rem] w-full  flex items-center justify-center bg-rose-500 mb-2">
        <h2 class="font-bold text-white text-3xl mon">My Skills</h2>
    </div> 
    
    <div class="bg-white">
        <app-marquee></app-marquee>  
    </div>
      


</div>